@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
	font-family: "Outfit", sans-serif;
}

body {
	background-color: #1a1a1a; /* Dark background color */
	color: white;
}

/* These classes are no longer needed as styling is handled directly in JSX with Tailwind */
/* .accelerate-digital {
	font-size: 4rem;
	font-weight: bold;
}

.accelerate-digital .digital {
	color: #00e676;
} */

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
.scrollbar-hide {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
}